---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <h2 class="text-3xl text-white">Blog - New About Tecnology and Shopping</h2>
</Layout>

<div class="grid grid-cols-2 gap-2">
  <article
    class="max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-8 my-5 p-6"
  >
    <p class="text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis qui
      nemo dolore nam illo consequatur veniam doloremque quae. Voluptatibus,
      quae. Sed esse exercitationem amet assumenda commodi expedita, possimus
      aperiam fuga!
    </p>
  </article>

  <article
    class="max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-8 my-5 p-6"
  >
    <p class="text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis qui
      nemo dolore nam illo consequatur veniam doloremque quae. Voluptatibus,
      quae. Sed esse exercitationem amet assumenda commodi expedita, possimus
      aperiam fuga!
    </p>
  </article>

  <article
    class="max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 mx-8 my-5 p-6"
  >
    <p class="text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis qui
      nemo dolore nam illo consequatur veniam doloremque quae. Voluptatibus,
      quae. Sed esse exercitationem amet assumenda commodi expedita, possimus
      aperiam fuga!
    </p>
  </article>
</div>
